<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">Full Name</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        {{ user.name }} {{ user.surname }}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">Username</h6>
      </div>
      <div class="col-sm-9 text-secondary">{{ user.username }}</div>
    </div>
    <hr />

    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">Email</h6>
      </div>
      <div class="col-sm-9 text-secondary">{{ user.email }}</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-info">Edit</a>
      </div>
    </div>
  </div>
</div>
